body{
  color: #636b6f;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.row{
  margin:0;
}
.btn:focus{
  outline: none;
      box-shadow: none!important;
}
.form-control:focus {
  outline: none;
  box-shadow: none !important;
}
a,a:hover{
  text-decoration: none;
  color:inherit;
}
ul{
  margin-bottom: 0;
  padding: 0;
}
li{
  list-style: none;
}
label{
  margin: 0;
}

.box-header{
  padding: 20px 10px;
}

.box-center{
  padding: 30px 10px;
}

.container{
  padding: 0;
}

.b-r-0{
  border-radius: 0;
}
.b-0{
  border: none;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.jc-spaceBetween{
  justify-content: space-between;
}
.jc-flexEnd{
  justify-content: flex-end;
}
.jc-center{
  justify-content: center;
}
.ai-center{
  align-items: center;
}
.ai-flexEnd {
  align-items: flex-end;
}
.box-p{
  padding: 30px 20px;
}

/*
* Tamañpos width de la pantalla
*
*/
.w-1{
  width: 80px;
  max-width: 80px;
}
.w-2 {
  width: 160px;
  max-width: 160px;
}
.w-3 {
  width: 240px;
  max-width: 240px;
}
.w-4 {
  width: 320px;
  max-width: 320px;
}
.w-5 {
  width: 400px;
  max-width: 400px;
}
.w-6 {
  width: 480px;
  max-width:480px;
}
.w-7 {
  width: 560px;
  max-width: 560px;
}
.w-8 {
  width: 620px;
  max-width: 620px;
}

/*
* STYLE TIPOS DE LETRAS
*
*/
.o-0{
  opacity: 0;
}
.o-1{
  opacity: 0.2;
}
.o-2{
  opacity: 0.4;
}
.o-3 {
  opacity: 0.6;
}
.o-4 {
  opacity: 0.8;
}
.o-5 {
  opacity: 1;
}
.display-5{
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-muted-app {
  color: #adb6bd !important;
}

.f-bold {
  font-weight: bold;
}

.text-success{
  color:#43bf8b!important;
}

/*
* POSICIONES DE CONTERIDOS
*/
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
  top: 0;
  left: 0;
}
.t-0{
  top: 0;
}
.t-1{
  top: 5px;
}
.t-2 {
  top: 10px;
}
.t-3 {
  top: 20px;
}
.t-4 {
  top: 40px;
}
.t-5 {
  top: 80px;
}
.l-0{
  left: 0;
}
.l-1{
  left: 5px;
}
.l-2 {
  left: 10px;
}
.l-3 {
  left: 20px;
}
.l-4 {
  left: 40px;
}
.l-5 {
  left: 80px;
}
.r-0{
  right: 0;
}
.r-1{
  right: 5px;
}
.r-2 {
  right: 10px;
}
.r-3 {
  right: 20px;
}
.r-4 {
  right: 40px;
}
.r-5 {
  right: 80px;
}