body{
  color: #636b6f;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.row{
  margin:0;
}
.btn:focus{
  outline: none;
      box-shadow: none!important;
}
a,a:hover{
  text-decoration: none;
  color:inherit;
}
ul{
  margin-bottom: 0;
  padding: 0;
}
li{
  list-style: none;
}
label{
  margin: 0;
}
.container{
  padding: 0;
}

.text-muted-app {
  color: #adb6bd !important;
}

.f-bold{
  font-weight: bold;
}
.b-r-0{
  border-radius: 0;
}
.b-0{
  border: none;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.jc-spaceBetween{
  justify-content: space-between;
}
.jc-flexEnd{
  justify-content: flex-end;
}
.jc-center{
  justify-content: center;
}
.ai-center{
  align-items: center;
}
.ai-flexEnd {
  align-items: flex-end;
}
.box-p{
  padding: 30px 20px;
}

/***colot****/
