@keyframes heartbit {
  0% {
    display: none;
    opacity: 0;
    transform: translatex(-100px);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes showSearch {
  0% {
    width:200px;
  }
  100% {
    width:300px;
  }
}

@keyframes InverShowSearch {
  0% {
    width: 300px;
  }
  100% {
    width: 200px;
  }
}