@keyframes heartbit {
  0% {
    display: none;
    opacity: 0;
    transform: translatex(-100px);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes showSearch {
  0% {
    width:200px;
  }
  100% {
    width:300px;
  }
}

@keyframes InverShowSearch {
  0% {
    width: 300px;
  }
  100% {
    width: 200px;
  }
}

@keyframes ShowBurger {
  0% {
    transform: translatex(400px);
    display: none;
  }
  100% {
    transform: translatex(0px);
    display: block;
  }
}

@keyframes InverShowBurger {
  0% {
    transform: translatex(0px);
    display: block;
  }
  100% {
    transform: translatex(400px);
    /* display: none; */
    opacity: 0;
  }
}

@keyframes ShowLoading{
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}