@import url('animation.master.css');
/*=======HEADER TOP======*/

.head-top {
  background-color: #ffffff;
  height: 70px;
}
.head-top .row {
  height: 70px;
}

/*color web #0ab2fb */
/* Columna de la izquierda */
.head-top .col-left .logo-web img{
  height: 70px;
  width: 70px;
}

/* Columna de la derecha */
/* Light */
.head-top .col-right .btn-sesion:hover{
  /* margin-right: 10px;} */
  background-color: #96defb;
}
.head-top .col-right .btn-register:hover{
  background-color: #96defb;
}
.head-top .col-right .btn-sesion,.btn-register{
  background: transparent;
  font-family: 'Calibri';
    border-radius: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.head-top .col-right .btn-register{
  background-color: #0ab2fb;
  color:#ffffff;
  margin-left: 20px;
}


/*=======HEADER CENTER======*/

.head-center{
  height: 50px;
  position: relative;
  background-color: #96defb;
}
.head-center .layer {
  height: 50px;
}
/* .head-center .col-right{
  position: relative;
} */
.head-center #content-burger{
  position: absolute;
  top:50px;
  width: 100vw;
  height: calc(100vh - 70px);
  z-index: 10;
  right: 0;
  background: #2c2c2c86;
  overflow-y:auto;
  transform: 1s;
  transform: translateX(100vw);
  display: none;
}
.head-center .col-right .options{
  cursor: inherit;
  width: 450px;
  right: 0;
  background: #ffffff;
  text-transform: uppercase;
  font-family: 'calibri';
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  color: #556080;
}
.ti-angle-down:before {
  line-height: 1.5;
}
.head-center .col-right .option-item{
  padding: 12px 30px;
  position: relative;
  overflow: hidden;
}
.head-center .col-right .sub-options{
  background-color: #ffffff;
  cursor: pointer;
  color: #636b6f;
  left: 0;
  width: 100%;
  font-size: 0.8rem;
  z-index: 1;
  text-transform: uppercase;
  display: none;
}

.head-center .col-right .sub-option-item {
  /* padding: 5px 20px; */
  border-left: 1px solid #ffffff;
  border-bottom: 0.5px solid #c2d0d6;
}
.head-center .col-right .sub-option-item a{
  padding: 5px 20px;
  display: block;
}

@media (min-width: 796px) {
.head-center .col-right .sub-option-item:hover{
  border-left: 1px solid #0e76a8;
}

}

/* HEADER BOTTOM*/
.head-bottom{
  height: 40px;
  background: -webkit-linear-gradient(top, #c2c9cc, #e1e8eb);
}

.head-bottom .row{
  height: 40px;
}

.head-center .form-search-group{
  position: relative;
  text-align: left;
  width: 400px;
  height: 30px;
}
.head-center .btn-search {
  padding: 0;
  width:45px;
  background: transparent;
  height:10px;
  margin-right: 30px;
  height: 30px;
  border: none;
  position: absolute;
  left:  0;
  top:0;
}
.ti-search::before{
  line-height: 2.8;
}
.head-center #input-search:focus{
  animation: showSearch 0.1s ease-in;
  outline: none;
  width: 400px;
}
.head-center #input-search {
  height: 30px;
  background: transparent;
  padding: 5px 10px;
  padding-right: 55px;
  font-family: 'calibri';
  width: 200px;
  border: none;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  left: 40px;
  animation: InverShowSearch 0.1s ease-in;
}

.head-center .menu-burger{
  /* display: none; */
  cursor: pointer;
}

.head-center .menu-burger .btn-burger{
  padding: 0;
  background: transparent;
  color: #ffffff;
  margin-right: 20px;
  margin-top: 10px;
  /* line-height: 6; */
  font-size: 1.5rem;
}

.icon-burger{
  transform: scale(0);
  display: none;
}

.ti-angle-down{
  transition: 0.5s;
  transform: rotate(0deg);
}
/* ***********ACTIVACIONES**************** */

.show-burger{
  animation: ShowBurger 0.3s ease-in;
  transform: translatex(0)!important;
  display: block !important;
  z-index: 100;
}

.show-icon-burger{
  animation : showIconBurger 0.3s ease-in;
  transform: scale(1);
  display: block;
  z-index: 100;
}

.rotate-icon-down{
  animation: iconAngleDown 0.3s ease-in;
  transform: rotate(180deg);
}
/* ***********MEDIA WIDTH**************** */

@media (max-width: 992px) {
  .head-center .col-right .option-item {
    padding: 12px 15px;
  }
}

@media (max-width: 796px) {
  .head-center .menu-burger {
    display: block;
  }
}
@media (max-width: 465px) {
  .head-center .menu-burger {
    margin-right: 15px;
  }
  .head-top .col-right .btn-register {
    display: none;
    margin: 0;
  }
  .head-center .form-search-group{
    display: none;
  }
  .head-center .col-right .options {
    width: 300px;
  }
}
